@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 20px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Montserrat', sans-serif; /* Updated font family */
  color: white;
  text-align: center;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.6;
}
